[Unit]
Description=mitmproxy
After=network.target

[Service]
ExecStart=/home/mitmproxy/scripts/run.sh start
ExecSttop=/home/mitmproxy/scripts/run.sh stop
ExecReload=/home/mitmproxy/scripts/run.sh restart
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin
Environment=PYTHONPATH=/usr/local/lib/python3.7/site-packages

[Install]
WantedBy=multi-user.target
